body   {
    
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Impede que a página role */
  display: flex;
  flex-direction: row;
}

.cabeçario{
  height: 80rem; /* altura total da tela */
  background-color: rgb(30, 30, 30);
  color: white;
  padding: 2rem;
}

.especificaçao{
    display: center ;
    justify-content:left ;
    align-items:left;  
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    background-color: rgb(100, 100, 100);
    overflow-y: auto;
}

li{
  text-align: justify;
}

p{
  text-align: justify;
  font-size: 15px;
  font-size: larger;
}

h1{
  text-align: center;
  font-size: 4rem;
  color: rgb(30, 30, 30);
}

h2{
    font-size: 2rem;
    color: rgb(30, 30, 30);
}
h3{
  text-align: center;
  font-size: 2rem ;
  color: rgb(30, 30, 30);
}
.link-github {
  text-decoration: none;  /* remove o sublinhado */
  color: white;        
}
/* cor ao passar o mouse */
.link-github:hover {
  color: grey; 
}
.link-email{
    text-decoration: none; 
    color: white;        
}
.link-email:hover{
    color:  grey; 
}